/////////////////////////////////////////////////////////////////////////////////
//
// Registration
//
/////////////////////////////////////////////////////////////////////////////////

.medlab_registration_account_box {
  border: 3px solid $registration-account-box-border;
  background-color: $registration-account-box-background;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}

.medlab_registration_account_box_focus {
  background: $registration-account-box-background url("/img/account/registration/tick.png") no-repeat 99% 5px;
  border: 3px solid $registration-account-box-border-focus;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}

.medlab_registration_account_box_title {
  text-decoration: underline;
  color: $registration-account-box-title;
  font-weight: bold;
  font-size: 14px;
}

.medlab_registration_form_section_title {
  color: $registration-form-section-title;
  font-family: "Open Sans Condensed",sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.medlab_registration_form_section_subtitle {
  padding-top: 10px;
  font-size: 10px;
}

.medlab_registration_search_result_well {
  background-color: $registration-form-search-well;
}

.medlab_registration_search_result {
  color: $registration-form-search-well-title;
  text-align: center;
  border-bottom: 1px solid;
  font-weight: 700;
  background-color: $registration-form-search-well;
}


/////////////////////////////////////////////////////////////////////////////////
//
// Dashboard
//
/////////////////////////////////////////////////////////////////////////////////

.medlab_dashboard_info_section_title {
  color: $registration-form-section-title;
  font-family: "Open Sans Condensed",sans-serif;
  margin-top: 0px;
  margin-left: 10px;
}

.medlab_dashboard_info_item_box_top {
  font-size: 14px;
  padding: 7px 0px 7px 0px;
  border-top: 1px solid lavender;
  margin-left: 10px;
  margin-right: 10px;
}

.medlab_dashboard_info_item_box_middle {
  font-size: 14px;
  padding: 7px 0px 7px 0px;
  border-bottom: 1px solid lavender;
  border-top: 1px solid lavender;
  margin-left: 10px;
  margin-right: 10px;
}

.medlab_dashboard_info_item_box_bottom {
  font-size: 14px;
  padding: 7px 0px 7px 0px;
  border-bottom: 1px solid lavender;
  margin-left: 10px;
  margin-right: 10px;
}

/////////////////////////////////////////////////////////////////////////////////
//
// Edit Account Details
//
/////////////////////////////////////////////////////////////////////////////////

.medlab_account_detail_edit_input_group {
  padding: 5px 15px 5px 15px;
}

.medlab_account_detail_edit_input_group_label {
  background-color: $edit-account-label-background;
  color: $edit-account-label-text;
}

.row .slider.slider-horizontal {
  width: 90%;
  margin-left: 5%;
}
