//////////////////////////////////////////////////////////////////////////
//
// Colours for body elements
//
//////////////////////////////////////////////////////////////////////////

$body-background: #F2F3F9;


//////////////////////////////////////////////////////////////////////////
//
// Colours for navigation elements
//
//////////////////////////////////////////////////////////////////////////

$navi-background: #FFF;
$navi-login-background: #F2F3F9;
$navi-active-colour: #F8F8F8;
$navi-text-colour: #1E5494;
$navi-text-colour-focus: #000000;
$navi-submenu-background-colour: #F8F8F8;
$navi-submenu-text-colour: #555;
$navi-submenu-background-colour-focus: #7AA43F;
$navi-submenu-text-colour-focus: #FFF;
$navi-login-text-colour: #777;
$navi-border-colour: #7AA43F;
$navi-shopping-border-colour: #e6eaf4;


//////////////////////////////////////////////////////////////////////////
//
// Colours for Carousel elements
//
//////////////////////////////////////////////////////////////////////////

$carousel-bottom-panel-column1-background: #1E5494;
$carousel-bottom-panel-column2-background: #276CBE;
$carousel-bottom-panel-column3-background: #1E5494;
$carousel-bottom-panel-text: #FFF;


//////////////////////////////////////////////////////////////////////////
//
// Colours for News elements
//
//////////////////////////////////////////////////////////////////////////

$news-title-background: #1E5494;
$news-title-text: #FFF;
$news-body-background: #FFF;
$news-body-text: #333;
$news-content-title-text: #7AA43F;
$news-content-link-text: #7AA43F;
$news-content-link-text-hover: #7AA43F;
$news-sidebar-list-item-title-text: #1E5494;
$news-sidebar-list-item-body-text: #232323;
$news-sidebar-list-item-body-border: #F7F7F7;


//////////////////////////////////////////////////////////////////////////
//
// Colours for News elements
//
//////////////////////////////////////////////////////////////////////////

$breadcrumbs-background: #D7DCF2;
$breadcrumb-link: #1E5494;



//////////////////////////////////////////////////////////////////////////
//
// Colours for Panel elements
//
//////////////////////////////////////////////////////////////////////////

$panel-border-colour: #DDD;
$panel-title-background: #1E5494;
$panel-title-text: #FFF;
$panel-content-background: #FFF;
$panel-content-text: #333;
$panel-content-link: #7AA43F;


//////////////////////////////////////////////////////////////////////////
//
// Colours for Footer elements
//
//////////////////////////////////////////////////////////////////////////

$footer-top-background: #1E5494;
$footer-top-border-colour: #7AA43F;
$medlab_footer_top_site_map_box_text: #EAEAEA;
$medlab_footer_top_site_map_box_text-hover: #FFFFFF;

$footer-bottom-background: #232323;
$footer-bottom-contact-info-box-text: #C0C0C0;
$footer-bottom-contact-info-box-text-hover: #FFFFFF;
$footer-bottom-contact-info-box-header-text: #FFF;

$footer-bottom-copyright-box-border-colour: #555;
$footer-bottom-copyright-box-text: #777;
$footer-bottom-copyright-box-text-hover: #FFFFFF;


//////////////////////////////////////////////////////////////////////////
//
// Colours for Product elements
//
//////////////////////////////////////////////////////////////////////////

$product-content-title: #1E5494;
$product-info-title: #009ECD;
$product-info-title-text: #FFF;
$product-info-in-stock: #3C763D;
$product-info-out-of-stock: #FF0000;
$product-info-label: #555;
$product-info-price: #F15C22;
$product-info-shop-button-background: #F15C22;
$product-info-shop-button-background-focus: #EB4C0F;
$product-info-shop-button-text: #FFF;


//////////////////////////////////////////////////////////////////////////
//
// Colours for registration elements
//
//////////////////////////////////////////////////////////////////////////

$registration-account-box-title: #ff0000;
$registration-account-box-border: #C0C0C0;
$registration-account-box-border-focus: #5F7F31;
$registration-account-box-background: #F8F8F8;
$registration-form-section-title: #1E5494;
$registration-form-search-well: #D9EDF7;
$registration-form-search-well-title: #31708F;


//////////////////////////////////////////////////////////////////////////
//
// Colours for Edit Account detail elements
//
//////////////////////////////////////////////////////////////////////////

$edit-account-label-background: #337AB7;
$edit-account-label-text: #FFFFFF;