$navi-font: "Museo Sans Narrow";

@font-face {
  font-family: "Museo Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MuseoSans_300-webfont.woff")
}

@font-face {
  font-family: "Museo Sans Narrow";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/MuseoSans_100-webfont.woff")
}

@font-face {
  font-family: "Museo Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/MuseoSans_700-webfont.woff")
}

@font-face {
  font-family: "Museo Sans Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/MuseoSans_100-webfont.woff")
}
