$navi-font: "Museo Sans";

@font-face {
  font-family: "Museo Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MuseoSans_500-webfont.woff")
}

@font-face {
  font-family: "Museo Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MuseoSans_500-webfont.woff")
}

@font-face {
  font-family: "Museo Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/MuseoSans_500-webfont.woff")
}

@font-face {
  font-family: "Museo Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/MuseoSans_500-webfont.woff")
}
