@media (min-width: 0px) and (max-width: 1000px) {

  .medlab_navbar_logo {
    width: 280px !important;
  }

  .medlab_navbar_dropdown {
    font-size: 16px !important;
  }

  .medlab_carousel_bottom_panel_table {
    font-size: 16px !important;
  }

}