/////////////////////////////////////////////////////////////////////////////////
//
// Login navigation bar
//
/////////////////////////////////////////////////////////////////////////////////

.medlab_navbar_login_wrapper {
  background-color: $navi-login-background;
}

.medlab_navbar_login_container {
  height: auto;
}

.medlab_navbar_login_item {
  padding: 7px 10px 5px 10px !important;
  color: $navi-login-text-colour;
  display: inline-block !important;
}

.medlab_navbar_login_item:hover {
  color: $navi-text-colour-focus;
}

.medlab_navbar_login_glyphcon {
  top: 3px;
}

.medlab_navbar_login_shopping {
  border-left: 1px solid $navi-shopping-border-colour;
  border-right: 1px solid $navi-shopping-border-colour;
  display: inline-block !important;
}


////////////////////////////////////////////////////////////////////////////////
//
// Main navigation bar
//
////////////////////////////////////////////////////////////////////////////////

.medlab_navbar_wrapper {
  background: $navi-background;
  border-bottom: 10px solid $navi-border-colour;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: none;
}

.medlab_navbar_container {
  padding: 0;
  margin: 0;
  background-color: $medlab-blue;
  padding: 12px;

  .navbar-header button {
    border: 1px solid #FFF;

    .icon-bar {
      background-color: #FFF;
    }
  }

  .navbar-collapse.collapse:not(.in) {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    ul.nav {
      width: 100%;
      display: flex;
      justify-content: space-around;

      li {

        a {
          line-height: 1.0em;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        &.vr,
        &.separator {
          height: 20px;
          width: 1px;
          border-left: 1px solid #FFF;
        }
      }
    }
  }
}

header + .medlab_navbar_container .navbar-collapse.collapse:not(.in) ul.nav li.separator {

  position: relative;
  width: 120px;
  height: auto;
  border-left: none;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: url('/img/navigation-separator.png') center center no-repeat $medlab-blue;
    background-size: 90px;
    height: 120px;
    width: 120px;
    top: -50px;
    border-radius: 60px;
    z-index: 1;
  }
}

.medlab_navbar_brand {
  padding-top: 0px;
}

.medlab_navbar_logo {
  width: 340px;
  display: block;
  padding: 24px 35px 20px 35px;
}

.medlab_navbar_dropdown {
  font-family: $navi-font;
  font-size: 11px;
  font-weight: 100;
  margin-top: -5px;
  text-align: center;
  color: $navi-text-colour !important;
  &:hover, &:active, &:focus {
    background: $navi-active-colour !important;
    color: $navi-text-colour-focus !important;
  }
}

.medlab_navbar_dropdown_menu {
  padding: 0px;
  background-color: $navi-submenu-background-colour;
  font-size: 14px;
  color: $navi-submenu-text-colour;
  font-family: "Museo Sans Narrow", sans-serif;

  p {
    font-size: 18px;
    text-align: left !important;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom : 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.medlab_navbar_dropdown_menu_item {
  text-align: left;
  &:hover, &:active, &:focus {
    background: $navi-submenu-background-colour-focus !important;
    color: $navi-submenu-text-colour-focus !important;

    body.products & {
      background: $theme-products !important;
    }

    body.research & {
      background: $theme-research !important;
    }
  }
}


