/////////////////////////////////////////////////////////////////////////////////
//
// Panel
//
/////////////////////////////////////////////////////////////////////////////////

.medlab_panel_container {
  padding-top: 20px;
}

.medlab_panel {
  border: 1px solid $panel-border-colour;
}

.medlab_panel_title {
  padding: 5px 20px 5px 20px;
  background-color: $panel-title-background !important;
  color: $panel-title-text !important;
  opacity: 0.8;
  font-size: 20px;
  font-family: "PT Sans",sans-serif;
}

.medlab_panel_content {
  background-color: $panel-content-background;
  color: $panel-content-text;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
}

.medlab_panel_content_link {
  color: $panel-content-link;
}

.medlab_panel_content_link:hover {
  color: $panel-content-link;
}