@media (min-width: 0px) and (max-width: 1000px) {
  .medlab_navbar_logo {
    width: 280px !important; }
  .medlab_navbar_dropdown {
    font-size: 16px !important; }
  .medlab_carousel_bottom_panel_table {
    font-size: 16px !important; } }

@media (min-width: 1000px) and (max-width: 1920px) {
  .medlab_news_item {
    padding-right: 5px !important; }
  .medlab_news_sidebar_item {
    padding-left: 5px !important; } }

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"), url("http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc.woff2") format("woff2"), url("http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff") format("woff"); }

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"), url("http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"); }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("http://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2") format("woff2"), url("http://fonts.gstatic.com/s/ptsans/v8/LKf8nhXsWg5ybwEGXk8UBQ.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"); }

body {
  background-color: #F2F3F9; }

.medlab_navbar_login_wrapper {
  background-color: #F2F3F9; }

.medlab_navbar_login_container {
  height: auto; }

.medlab_navbar_login_item {
  padding: 7px 10px 5px 10px !important;
  color: #777;
  display: inline-block !important; }

.medlab_navbar_login_item:hover {
  color: #000000; }

.medlab_navbar_login_glyphcon {
  top: 3px; }

.medlab_navbar_login_shopping {
  border-left: 1px solid #e6eaf4;
  border-right: 1px solid #e6eaf4;
  display: inline-block !important; }

.medlab_navbar_wrapper {
  background: #FFF;
  border-bottom: 10px solid #7AA43F;
  margin-bottom: 0px;
  box-sizing: border-box; }

.medlab_navbar_container {
  padding: 5px 15px 0px 15px; }

.medlab_navbar_brand {
  padding-top: 0px; }

.medlab_navbar_logo {
  width: 340px;
  display: block; }

.medlab_navbar_dropdown {
  line-height: 60px !important;
  margin-top: -5px;
  text-align: center;
  font-size: 22px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #1E5494 !important; }

.medlab_navbar_dropdown:focus {
  background: #F8F8F8 !important;
  color: #000000 !important; }

.medlab_navbar_dropdown:hover {
  background: #F8F8F8 !important;
  color: #000000 !important; }

.medlab_navbar_dropdown_menu {
  padding: 0px;
  background-color: #F8F8F8;
  font-size: 20px;
  color: #555;
  font-family: "PT Sans Narrow", sans-serif; }

.medlab_navbar_dropdown_menu_item {
  text-align: left; }

.medlab_navbar_dropdown_menu_item:hover {
  background: #7AA43F !important;
  color: #FFF !important; }

.medlab_carousel_image {
  width: 100%; }

.medlab_carousel_bottom_panel_table {
  width: 100%;
  font-size: 26px;
  font-family: "PT Sans Bold",Helvetica,"Trebuchet MS",Arial,sans-serif; }

.medlab_carousel_bottom_panel_column1 {
  width: 33%;
  background-color: #1E5494;
  color: #FFF;
  padding: 30px 0px 25px 0px;
  text-align: center; }

.medlab_carousel_bottom_panel_column2 {
  width: 33%;
  background-color: #276CBE;
  color: #FFF;
  padding: 30px 0px 25px 0px;
  text-align: center; }

.medlab_carousel_bottom_panel_column3 {
  width: 33%;
  padding: 0px 0px 0px 0px;
  text-align: center; }

.medlab_carousel_bottom_panel_column3_link {
  background-color: #1E5494;
  color: #FFF;
  padding: 30px 0px 25px 0px; }

.medlab_carousel_bottom_panel_column3_link:hover {
  color: #1E5494;
  background-color: #FFF; }

.medlab_news_container {
  padding: 20px 0px 0px 0px; }

.medlab_news_item {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px; }

.medlab_news_item_title {
  padding: 5px 20px 5px 20px;
  background-color: #1E5494;
  opacity: 0.8;
  font-family: "PT Sans",sans-serif;
  font-size: 20px;
  color: #FFF; }

.medlab_news_item_body {
  padding: 20px 15px 20px 15px;
  color: #333;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  display: inline-block; }

.medlab_news_item_content_wrapper {
  background-color: #FFF; }

.medlab_news_content_title {
  margin-top: 0px;
  color: #7AA43F;
  font-size: 28px;
  font-family: "PT Sans Bold",sans-serif; }

.medlab_news_content_paragraph {
  padding-bottom: 20px; }

.medlab_news_content_link {
  color: #7AA43F; }

.medlab_news_content_link:hover {
  color: #7AA43F; }

.medlab_news_sidebar_item {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px; }

.medlab_news_sidebar_item_title {
  padding: 5px 20px 5px 20px;
  background-color: #1E5494;
  opacity: 0.8;
  font-family: "PT Sans",sans-serif;
  font-size: 20px;
  color: #FFF; }

.medlab_news_sidebar_item_body {
  padding: 20px 10px 20px 10px;
  color: #333;
  font-size: 15px;
  font-family: "Open Sans",sans-serif; }

.medlab_news_sidebar_list {
  padding: 0px 0px 0px 0px; }

.medlab_news_sidebar_list_item {
  list-style: outside none none;
  padding-bottom: 15px; }

.medlab_news_sidebar_list_item_title {
  color: #1E5494;
  font-family: "PT Sans Bold",sans-serif;
  font-size: 16px; }

.medlab_news_sidebar_list_item_body {
  color: #232323;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  border-top: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7; }

.medlab_news_sidebar_list_item_image {
  height: 75px; }

.medlab_footer_top_wrapper {
  background-color: #1E5494;
  border-top: 3px solid #7AA43F;
  margin-top: 20px; }

.medlab_footer_top_container {
  padding: 20px 15px 30px 15px; }

.medlab_footer_top_site_map_box {
  color: #EAEAEA; }

.medlab_footer_top_site_map_box_header {
  margin-top: 0px; }

.medlab_footer_top_site_map_box_header_link {
  font-size: 14px;
  color: #EAEAEA;
  font-family: "PT Sans Bold",sans-serif; }

.medlab_footer_top_site_map_box_header_link:hover {
  color: #FFFFFF; }

.medlab_footer_top_site_map_box_list {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  list-style: outside none none; }

.medlab_footer_top_site_map_box_link {
  font-size: 14px;
  color: #EAEAEA;
  font-family: "Open Sans",sans-serif; }

.medlab_footer_top_site_map_box_link:hover {
  color: #FFFFFF; }

.medlab_footer_bottom_wrapper {
  background-color: #232323; }

.medlab_footer_bottom_container {
  padding: 20px 15px 30px 15px; }

.medlab_footer_bottom_contact_info_box {
  padding-bottom: 20px;
  color: #C0C0C0;
  font-size: 12px;
  font-family: "Open Sans",sans-serif; }

.medlab_footer_bottom_contact_info_box_header {
  color: #FFF;
  font-size: 16px;
  font-family: "PT Sans Bold",sans-serif; }

.medlab_footer_bottom_contact_info_box_link {
  color: #C0C0C0; }

.medlab_footer_bottom_contact_info_box_link:hover {
  color: #FFFFFF; }

.medlab_footer_bottom_contact_info_box_icon {
  background-color: #C0C0C0;
  color: #232323;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin-right: 3px;
  line-height: 30px; }

.medlab_footer_bottom_copyright_box {
  border-top: 1px solid #555;
  padding-top: 20px;
  color: #777;
  font-size: 12px; }

.medlab_footer_bottom_copyright_box_link {
  color: #777;
  font-size: 12px; }

.medlab_footer_bottom_copyright_box_link:hover {
  color: #FFFFFF; }

/*# sourceMappingURL=app.css.map */