body { background-color:#fafafa;}
table {
  padding: 1px;
  border: 1px solid black;
}

th {
  padding: 4px;
  border: 1px solid black;
}

td {
  padding: 4px;
  border: 1px solid black;
}

.sortStyle { cursor: pointer; }

.ascStyle {
  background-image: url(img/asc.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

.descStyle {
  background-image: url(img/desc.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

.unsortStyle {
  background-image: url(img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
}
td,th{
  text-align: center;

}
td{
  padding:0px !important;

}
td:hover{
  background-color: #DCDCDC;
  cursor:pointer;
}
.unsortStyle{
  width:7.5% !important;
}
thead tr th{
  background-color:#274a8f;
  color:#FFF;
}
.blue_bar{
  background-color:#1E5494;
  color:#1E5494;
}
.black_p{
  color:#fff;
}
.planning{
  color: white;
  background-image:url('/img/research/prograssing.png');
}
.bannk{
  color: white;
  color:#fff;
}
.notapplicable{
  color: white;

  background-image:url('/img/research/nothing.png');
}
.testlink{
  display:block;
  width:100%;
  height:100%;
}
span.sortStyle{
  width:50%;
  border:.5px solid #000;
}

.link_my a {
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.link_my a:hover{
    font-weight:bold;
}